@font-face {
    font-family: segram;
    src: url("img/segram.ttf");
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family:  'Playfair Display', serif;  /*"Noto Naskh Arabic UI", Arial, sans-serif;*/
    }
    h1{
        font-family: 'segram';
        font-weight: 500;
        font-size: 60px;
        border-bottom: 1px solid white;
        width: 300px;    /*border */
        margin: auto;
        margin-bottom: 20px;
        padding: 10px 0;
    }
    h2{
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size:40px ;
        text-align: center;
    }
    h4{
        color: darkgrey;
    }
    header {
        text-align: center;
        padding: 150px 50px;
        position: relative;
        color:white;
        background-color: rgba(0,0,0,.3);
        overflow: hidden;
    }
    header .frases {
        margin-bottom: 10px;
        position: absolute;
        bottom: 30px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
        color: white;
        font-size: 16px;
        text-align: center;
    } 
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -10;
        min-height: 100%;
        min-width: 100%;
    }
    body{
        background-color: rgb(4, 65, 71);
        color:white ;
    }



    /* Estilos para el botón del menú */
.dropbtn {
    
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para la lista de opciones */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  /* Mostrar la lista de opciones al hacer clic en el botón del menú */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
    svg {
        color: rgba(202, 7, 7, 0.856);;
    }
    .container-fluid{
        left: 80px;
        position: relative;
    }

    button{
        background-color: black;
        color: white;
        border-style: dashed;
        padding: 13px;

    }

    .navbar-inverse{
        display: flex;
    align-items: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: rgb(4, 65, 71);
        background-image: url(img/star.png); 
        text-align: left;
        background-size: 40px, cover ;
        background-position: 15px, top;
        background-repeat: no-repeat;
    }
    .form-control{
        margin-left: 460px;
        
    }
    .btn-primary {
        background-color: rgba(202, 7, 7, 0.856);
        margin-left: 75px;
        width: 100px;
    }
    .container{
        padding-bottom:20px ;
    }
    .container h3{
        text-align: center;
    }
    .uno h2{
        font-size: 2.2rem;
        text-align: center;
    }
    .uno > article{
        padding: 20px;
    }
    .uno{
        text-align: center;
    }
    #mus{
        border-radius: 5px;
        
    }
    #mus:hover {
         opacity: 1;
         transition: .5s;
         transform: scale(1.1);
    }
    .container img{
        opacity: 0.8;
    }
    .container img:hover{
        opacity: 1;
         transition: .5s;
         transform: scale(1.1);
    }
    .dva, .dva1{
        margin: 40px;
        line-height: 1.3;
    }
    .uno{
        display: flex;
    }
    .dva,.dva1{
        flex: 400px 1 1;
    }
    footer{
        text-align: center;
        color: white;
        padding:40px;
    }

        a{
  text-decoration: none;
        color:white;
}
a:hover{
    text-decoration: underline;
    color:red;
}	
.info{
    font-size: 14px;
}
    .mb-5 img{
        border-radius: 5px;
        padding-inline:15px;
    }	
    .tres {
        text-align: center;
        background-color: black;
        padding: 20px;
    }
    .tres h3 {
    color:darkgrey
    }
    .tres img{
        opacity: 0.8;
    }
    .tres img:hover{
        opacity: 1;
         transition: .5s;
         transform: scale(1.1);
    }
    