
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif; /*"Noto Naskh Arabic UI", Arial, sans-serif;*/
    background-color:rgb(4, 65, 71); 
    background-image: url(../img/star.png); 
    text-align: left;
    background-size: 50px, cover ;
    background-position: 20px 10px, top;
    background-repeat: no-repeat;
}
h2,h1 {
    font-weight: 500;
    font-size: 40px;
    width: max-content;
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
  }
h2 {
    text-decoration: none;
    color:white;
    }
    h2:hover{
    text-decoration: underline;
    color:white;
    }
     a{
  text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color:red;
}	
.info{
        color: white;
}
    span{
    color:  rgba(202, 7, 7, 0.856);
    font-size: 60px;
}

.social {
	position: fixed;
		bottom: 120px;
		right: 10px;
		z-index: 10;
		text-align: center;
		padding: 5px;
		width: 40px;
}
.social a {
		display: block;
		margin-bottom: 10px;
		color: white;
		padding: 5px;
		font-size: 30px;
		text-decoration: none;
}
.formular, h1,h2,h5,p {
    font-family: 'Playfair Display', serif;
    color: white;
}
em{
			color: red;
		}
.card-text, p {
    font-size:18px ;
    text-align:justify ;  
}
input {
    box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
input[type]:hover, textarea:hover {
    border: 2px solid rgba(202, 7, 7, 0.856);
}
input[type]:focus,textarea:hover {
    border: 2px solid rgba(202, 7, 7, 0.856);
    outline: none;
}
label {
    cursor: default;
		}
button[type="submit"]{
    width: initial;
    padding: 5px 25px;
		background-color:rgb(8 110 120 / 69%);
    color: white;
    font-weight: 500;
}
button[type="submit"]:hover {
    color: black;
    background-color:white;
    transition: .5s;
}
.formular{
	padding: 10px;
 	/*width: 40%;*/
}
button {
    box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
footer{
	text-align: center;
	color: white;
	padding:40px;
}
.general{
	display: flex;
}
.formular,.mapa{
	flex: 400px 1 1;
	margin:60px;
	line-height: 1.3;
}
.mapa{
	margin-top:170px;
}

.header-container {
    text-align: center;
}
header ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
